<!DOCTYPE html>
<html>

<head>

<title>Consultar Asistencias</title>

<style>

body{
    font-family:Arial;
    padding:40px;
    text-align:center;
}

input{
    padding:12px;
    width:250px;
    font-size:16px;
}

button{
    padding:12px 25px;
    background:#b30000;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#d00000;
}

</style>

</head>

<body>

<h1>Consulta de Asistencias</h1>

<form method="POST">

    <p>Ingrese su DNI:</p>

    <input
        type="text"
        name="dni"
        required
        maxlength="8"
        placeholder="Ingrese su DNI"
    >

    <br><br>

    <button type="submit">
        Consultar
    </button>

</form>

</body>

</html>