<!DOCTYPE html>
<html>

<head>

<title>Consulta de Asistencias</title>

<style>

body{
    font-family:Arial;
    padding:40px;
    text-align:center;
}

.contenedor{
    max-width:500px;
    margin:auto;
}

input{
    width:250px;
    padding:12px;
    font-size:16px;
}

button{
    padding:12px 25px;
    background:#b30000;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#d00000;
}

hr{
    margin:40px 0;
}

</style>

</head>

<body>

<div class="contenedor">

<h1>Consulta de Asistencias</h1>

<h2>👤 Voluntario</h2>

<form method="POST">

    <input
        type="text"
        name="dni"
        maxlength="8"
        placeholder="Ingrese su DNI"
        required
    >

    <br><br>

    <button
        type="submit"
        name="accion"
        value="dni">

        Consultar

    </button>

</form>

<hr>

<h2>👨‍💼 Administrador</h2>

<form method="POST">

    <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required
    >

    <br><br>

    <button
        type="submit"
        name="accion"
        value="admin">

        Ingresar

    </button>

</form>

</div>

</body>

</html>